<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Dex</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="text-white bg-black">
    <div class="h-24 bg-blue-800 flex flex-row place-items-center justify-between">
        <div class="ml-16 text-2xl font-serif italic">
            <h1>pokedex</h1>
        </div>
        <div class="flex flex-row">
            <form method="post" action="/register" class="Register mr-8">
                <input type="submit" value="create account" class="justify-right cursor-pointer pr-8">
            </form>
            <form method="post" action="/login" class="login mr-4">
                <input type="submit" value="login" class="cursor-pointer">
            </form>
        </div>
    </div>
    <div class="bg-cover bg-center h-screen" style="background-image: url('https://media.assettype.com/outlooktraveller%2Fimport%2Foutlooktraveller%2Fpublic%2Fuploads%2Farticles%2Fexplore%2Fshutterstock_2006764235.jpg?w=1200&auto=format%2Ccompress&fit=max')">
    </div>
    
</body>
</html>